@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --cor-de-fundo: #ebecee;
    --cor-branco: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul: #002F52;
    --cor-cinza: #858585;
    --cor-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    --fonte-principal: 'Poppins', sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; 
}

.cabecalho{
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu{
    width: 24px;
    height: 24px;
    background-image: url(../imgs/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.container__botao{
    display: none;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-branco);
   
}

.lista-menu__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.banner{
    background: var(--cor-degrade);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight:500;
    margin: 1em;
    line-height: 24px;
}

.banner__pesquisa{
    background-color: transparent;
    border:1px solid var(--cor-branco);
    color: var(--cor-branco);
    border-radius: 24px;
    padding: 1em 2em;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    color: var(--cor-branco);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background: url(../imgs/pesquisa.svg)  no-repeat;
    background-position: 1.5em;
    padding: 0em 3.5em;  
}

.carrossel__titulo{
    background: var(--cor-branco);
    color: var(--cor-laranja);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card{
    background: var(--cor-branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    margin-left: -1em;
}

.card__descricao>img{
    margin-bottom: 1.5em;
}

.estrelinhas{
    padding-bottom: 0.5em;
}

.descricao{
    margin: 1em;
}

.descricao__titulo{
  color: var(--cor-laranja); 
  font-weight: 700; 
  margin-bottom: 1em;
}

.descricao__titulo-livro{
    color: var(--cor-azul);
    font-weight: 700;
    font-size: 18px;
    margin: 0.5em 0;
}

.descricao__texto{
    font-size: 14px;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}

.botoes__item{
    padding: 0 0.5em;
    margin: 0 0.5em;
    
}

.botoes__item>img{
    width: 32px;
    height: 32px;
}

.botoes__ancora{
    background: var(--cor-laranja);
    color: var(--cor-branco);
    padding: 1em 2.2em;
    text-decoration: none;
    font-weight: 700;
}

.topicos{
    background: var(--cor-degrade);
    text-align: center;
    padding: 1.5em 0;
}

.topicos__titulo{
    color: var(--cor-branco);
    font-weight: 300;
    margin-bottom:1.5em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 1.5em 0.5em;
}

.topicos__link{
    background: var(--cor-laranja);
    color: var(--cor-branco);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    padding: 1em 1.5em;
}

.contato{
    background: var(--cor-branco);
    padding: 1.5em;
    border-bottom: 1px solid var(--cor-cinza);
}

.contato__titulo,
.contato__texto{
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 1em;
}

.contato__titulo{
    font-size: 18px;
    font-weight: 500; 
}

.contato__texto{
    font-weight: 300;
}

.contato__email{
    border:1px solid var(--cor-azul);
    border-radius: 24px;
    padding: 1em 2em;
    width: 85%;
    color: var(--cor-azul);
}

.contato__email::placeholder{
    color: var(--cor-azul);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
    background: url(../imgs/email.svg) no-repeat;
    padding-left: 2em;  
}

.rodape{
    background: var(--cor-branco);
    padding: 1.5em;
}
